<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Medical History</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/table.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="container">

    <a href="javascript:history.back()" class="back-btn">
        <i class="fa-solid fa-arrow-left"></i>
        Back
    </a>

<div class="page-header">

<h1>Medical History</h1>

<a href="{{ url_for('add_medical_history') }}" class="add-btn">
<i class="fa-solid fa-notes-medical"></i>
Add Record
</a>

</div>

<table>

<thead>

<tr>

<th>ID</th>
<th>Patient</th>
<th>Doctor</th>
<th>Diagnosis</th>
<th>Treatment</th>
<th>Medicines</th>
<th>Visit Date</th>

</tr>

</thead>

<tbody>

{% for record in records %}

<tr>

<td>{{ record.id }}</td>
<td>{{ record.patient_name }}</td>
<td>{{ record.doctor_name }}</td>
<td>{{ record.diagnosis }}</td>
<td>{{ record.treatment }}</td>
<td>{{ record.medicines }}</td>
<td>{{ record.visit_date }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</body>

</html>
